In [1]:
import pandas as pd

In [2]:
world_gdp_total = pd.read_csv('data/country-GDP-2017.csv',encoding = "ISO-8859-1", names = ['Country', 'GDP'], skiprows = 1)
#world_gdp.drop(columns = ['Country Code'])
world_gdp_total.head()

       Country           GDP
0        Aruba           NaN
1  Afghanistan  2.081530e+10
2       Angola  1.242094e+11
3      Albania  1.303935e+10
4      Andorra  3.012914e+09

In [3]:
world_gdp_per_capita = pd.read_csv('data/country-gdp-per-capita.csv',encoding = "ISO-8859-1", names = ['Country', 'GDPPC'], skiprows = 1)
world_gdp_per_capita.head()

       Country         GDPPC
0        Aruba           NaN
1  Afghanistan    585.850064
2       Angola   4170.312280
3      Albania   4537.862492
4      Andorra  39146.548840

In [4]:
world_gdp = pd.merge(world_gdp_total, world_gdp_per_capita, on = ['Country', 'Country'])
world_gdp.head(1)

  Country  GDP  GDPPC
0   Aruba  NaN    NaN

In [5]:
world_happiness = pd.read_csv('happiness.csv')
world_happiness.head(1)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027

In [6]:
urban_df = pd.read_csv('data/world_urban_population_gdp.csv')
urban_df.head()

       Country   Urban
0        Aruba  43.293
1  Afghanistan  25.250
2       Angola  64.839
3      Albania  59.383
4      Andorra  88.150

In [7]:
merged_df = pd.merge(world_happiness, world_gdp, on = ['Country', 'Country'])
merged_df = pd.merge(merged_df, urban_df, on = ['Country', 'Country'])
merged_df.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,GDP,GDPPC,Urban
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,3.988320e+11,75504.56626,81.871
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,3.248720e+11,56307.50830,87.757
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2.390929e+10,70056.87339,93.773
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,6.788873e+11,80189.69686,73.761
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2.518849e+11,45703.32787,85.325

In [20]:
pets_per_capita = pd.read_csv('pet_happiness.csv')
dog_df = pets_per_capita.query('Pet == "Bird"')
dog_df

     Pet      Country  Population  Human Population       PPC  Happiness.Score
4   Bird       Russia     2800000         139.39021  0.020087            5.963
14  Bird       France     6200000          63.33964  0.097885            6.442
20  Bird       Poland     1300000          38.46369  0.033798            5.973
24  Bird        Italy    13000000          58.12216  0.223667            5.964
28  Bird      Germany     3500000          82.28299  0.042536            6.951
33  Bird        Spain     3718000          46.50596  0.079947            6.403
37  Bird      Romania      264000          21.95928  0.012022            5.825
41  Bird    Australia     7800000          21.51575  0.362525            7.284
47  Bird      Hungary      445000           9.99234  0.044534            5.324
50  Bird       Brazil   191001000         201.10333  0.949765            6.635
54  Bird  Netherlands     4490000          16.78309  0.267531            7.377
57  Bird      Belgium     2700000          10.42349  0.259030            6.891
59  Bird       Greece      980000          10.74994  0.091163            5.227
61  Bird     Portugal      640000          10.73577  0.059614            5.195
63  Bird  New Zealand      527000           4.25012  0.123996            7.314
65  Bird  Switzerland      383000           7.65844  0.050010            7.494
67  Bird       Sweden      322000           9.07406  0.035486            7.284
69  Bird      Austria      281000           8.21416  0.034209            7.006

In [21]:
dog_df.to_csv('bird_data_for_chart.csv')

In [9]:
# merged_df.to_csv('happiness_and_gdp_and_urban.csv')

In [10]:
pet_populations = pd.read_csv('../data/pet-populations.csv')
pet_populations.head()

   pet_id  Pet  country_id      Country  Pet_Population
0       1  Dog         207          USA        69929000
1       1  Dog          37        China        27400000
2       1  Dog         168       Russia        12520000
3       1  Dog          99        Japan        12000000
4       1  Dog         156  Philippines        11600000

In [11]:
full_pet_df = pd.merge(pet_populations, merged_df, on = ['Country', 'Country'])
full_pet_df.head()

,pet_id,Pet,country_id,Country,Pet_Population,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,GDP,GDPPC,Urban
0,1,Dog,37,China,27400000,79,5.273,5.319278,5.226721,1.081166,1.160837,0.741416,0.472788,0.028807,0.022794,1.764939,1.223770e+13,8826.994096,57.960
1,2,Cat,37,China,53100000,79,5.273,5.319278,5.226721,1.081166,1.160837,0.741416,0.472788,0.028807,0.022794,1.764939,1.223770e+13,8826.994096,57.960
2,1,Dog,99,Japan,12000000,51,5.920,5.990719,5.849281,1.416915,1.436338,0.913476,0.505626,0.120573,0.163761,1.363224,4.872137e+12,38428.097320,91.535
3,2,Cat,99,Japan,7300000,51,5.920,5.990719,5.849281,1.416915,1.436338,0.913476,0.505626,0.120573,0.163761,1.363224,4.872137e+12,38428.097320,91.535
4,1,Dog,156,Philippines,11600000,72,5.430,5.545335,5.314665,0.857699,1.253918,0.468009,0.585215,0.193513,0.099332,1.972605,3.135952e+11,2988.952703,46.682

In [12]:
full_dog_df = full_pet_df[['Pet', 'Country', 'Happiness.Score']].query('Pet == "Dog"').sort_values(by = ['Happiness.Score'], ascending = False)
full_dog_df

    Pet         Country  Happiness.Score
35  Dog       Australia            7.284
22  Dog         Germany            6.951
39  Dog  Czech Republic            6.609
6   Dog       Argentina            6.599
8   Dog          France            6.442
27  Dog           Spain            6.403
14  Dog          Poland            5.973
18  Dog           Italy            5.964
2   Dog           Japan            5.920
31  Dog         Romania            5.825
4   Dog     Philippines            5.430
41  Dog         Hungary            5.324
0   Dog           China            5.273
12  Dog    South Africa            4.829
26  Dog        Ethiopia            4.460
5   Dog           India            4.315