In [1]:
# Import dependencies
import os
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from config import localHost, localPass, DATABASE_URL

In [2]:
# Function to remove rows not found in matching data frame
def trimdf(df1, df2, column):
    totalRows = np.arange(len(df1))

    for i in totalRows:
        # Set flag for when a match is found 
        match = True

        # Iterate thru df2 for a row with a match
        for q in np.arange(len(df2)):

            # When there is a match switch the flag and break the loop
            if(df2[column][q] == df1[column][i]):
                match = False
                continue

        # If all of df2 was searched with no match, drop row from df1
        if(match):
            df1.drop(i, inplace = True)

In [3]:
# Connect to local postgres instance
engine = create_engine(f'postgresql://{localHost}:{localPass}@localhost/pethappiness')
data = engine.execute("SELECT * FROM pet_id")
for row in data:
    print(row)

(1, 'dog')
(2, 'cat')
(3, 'bird')
(4, 'fish')

In [4]:
# # Connect to hosted postgres
# engine = create_engine(DATABASE_URL)
# data = engine.execute("SELECT * FROM pet_id")
# for row in data:
#     print(row)

In [5]:
# Import, trim data
dfPopulation = pd.read_csv("./data/world_bank_population_data.csv")
print(len(dfPopulation))

dfUrban = pd.read_csv("./data/world_bank_urban_population_data.csv")
trimdf(dfUrban, dfPopulation, 'Country Code')
print(len(dfUrban))

dfGdp = pd.read_csv("./data/world_bank_GDP_data.csv")
trimdf(dfGdp, dfPopulation, 'Country Code')
len(dfGdp)

220
220

220

In [28]:
# Create country_id table
for i in np.arange(len(dfPopulation)):
    code = dfPopulation['Country Code'][i]
    name = dfPopulation['Country Name'][i]
    
    # Escape special characters
    if(name.find("'") > 0):
        name = name.replace("'", "''")
        
    insert = f"INSERT INTO country_id (world_bank_code, country) VALUES ('{code}', '{name}')"
    engine.execute(insert)